<!DOCTYPE html>
<head>
    <title>Blood Pressure Calculator</title>
    <link rel="stylesheet" href="../static/IndexPageStyle.css"></link>
    <script type="text/javascript" src="../static/CalculateBpi.js"></script>
    </script>
</head>
<body>
    <h1>Blood Pressure Indicator</h1>

    <h2>Fill out the form to get your Blood Pressure estimate!</h2>

        <div class="form-group"">
            <label for="Age">Age <span>*</span>:</label>
            <input name="Age" id="Age" type="number" placeholder="Enter age in years" required min="0"/>
        </div>

        <div class="form-group"">
            <label for="Weight">Weight <span>*</span>:</label>
            <input name="Weight" id="Weight" type="number" placeholder="Enter weight in kg" required min="0"/>
        </div>

        <div class="form-group">
            <input
            name="calcButton" 
            type="button" 
            class="button" 
            value="Calculate"
            onclick="calcBpi()"/>

            <input
            name="clearButton" 
            type="button" 
            class="button" 
            value="Clear"
            onclick="clearInputFields()"/>
        </div>

        <p id="bpi-value"></p>
</body>